<style>
body
{background-image: url('http://4everstatic.com/images/abstrait/fond-de-couleur-220805.jpg');
   background-repeat: no-repeat;
   background-size:cover;
   background-attachment:fixed;}
</style>
<body>
<h1>Voici la page de l'equipe</h1>
<p>A la guerre comme à la guerre ! T'es en mission commando</p>
</body>
