<style>
body
{background-image: url('http://4everstatic.com/images/abstrait/fond-de-couleur-220805.jpg');
   background-repeat: no-repeat;
   background-size:cover;
   background-attachment:fixed;}
</style>
<body>
<h3 class="display-4 text-center">BIENVENUE <%= params[:index] %> ! Ici c'est notre super site de potins, il est chouette, non ? <h1>
</body>
